<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From, <%= @enquiry.name %></h1>
    <p>
      Subject: <%= @enquiry.subject %>.<br>
    </p>
    <p>
      Email: <%= @enquiry.email %>.<br>
    </p>
    <p>
      Phone: <%= @enquiry.phone %>.<br>
    </p>
    <br />
    <p>
      Message: <%= @enquiry.mmessage %>.<br>
    </p>
    <p>Powered by: Milkway Technologies Limited!</p>
  </body>
</html>