<%= form_with model: post, :html => {:class => "form-horizontal post-form"} do |form| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, "Title:", class: "control-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group d-none d-md-block">
    <%= form.label :description, "Description:", class: "control-label" %>
    <%= form.rich_text_area :description, class: "form-control d-none d-md-block" %>
  </div>

  <div class="form-group d-block d-md-none">
    <%= form.label :description, "Description:", class: "control-label" %>
    <%= form.text_area :description_sm, rows: 10, style: 'width:100%', class: "form-control d-block d-md-none" %>
  </div>

  <div class="form-group">
    <%= form.label :story_image, "Post image:", class: "control-label" %><small class="text-dark font-weight-bold"> (Size: 700 X 500)</small>
    <%= form.text_field :story_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image_detail_media, "Post detail media type (tick if video):", class: "control-label" %>
    <%= form.check_box :image_detail_media %>
  </div>

  <div class="form-group">
    <%= form.label :detail_media, "Post detail media:", class: "control-label" %><small class="text-dark font-weight-bold"> (Size: 730 X 450)</small>
    <%= form.text_field :detail_media, class: "form-control" %>
  </div>

  <div class="form-group">
    <div class="col-md-5 post-form-column">
      <%= form.label :category_id, "Category:", class: "control-label" %>
      <%= form.select :category_id, @categories, :selected => @category_id, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-5 post-form-column">
      <%= form.label :source, "Source:", class: "control-label" %>
      <%= form.text_field :source, class: "form-control" %>
    </div>
  </div>

  <div class="post_actions_buttons">

    <%= link_to back_button_path do %>
      <button type="button" class="btn btn-sm btn-light border"> <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button>
    <% end %>

    <%= button_tag type: 'submit', class: "btn btn-sm btn-success" do %>
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
    <% end %>

  </div>

<% end %>
