<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :story_image %>
    <%= form.text_field :story_image %>
  </div>

  <div class="field">
    <%= form.label :detail_media %>
    <%= form.text_field :detail_media %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :posted_by %>
    <%= form.number_field :posted_by %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.number_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :image_detail_media %>
    <%= form.check_box :image_detail_media %>
  </div>

  <div class="actions">
    <%= link_to 'Back', posts_path %>

    <%= form.submit %>
  </div>
<% end %>
