    <div class="d-flex">

      <h5 class="d-none d-sm-inline mr-auto"><span class='fa fa-home'></span> <%= @category_name %></h5>
      <h6 class="d-inline d-sm-none mr-auto"><span class='fa fa-home'></span> <%= @category_name %></h6>

      <%= link_to new_post_path do %>
        <button type="button" class="btn btn-sm btn-success flex-end"><i class="fa fa-plus" aria-hidden="true"></i> Add News</button>
      <% end %>
    </div>
    <hr />
    
    <section class="container">
      <div class="my-3">
          <% @posts.each do |post| %>
            <div class="card card-horizontal my-3">

              <div class="card-image d-none d-md-block">
                <%= link_to image_tag(post.story_image), post_path(post.id), class: "fadeIn" %>
              </div>

              <div class="card-stacked">
                <div class="card-content">
                  <%= link_to(post) do %>
                    <h6 class="card-title"><%= post.title %></h6>
                  <% end %>

                  <% if post.description.length > 300 %>
                    <p><%= post.description.slice(0..300) %> .....</p>
                  <% else %>
                    <p><%= post.description %></p>
                  <% end %>

                </div>
                <div class="card-action">
                  <span><span class="font-weight-bold">author:</span> <%= post.user.username %></span>
                  <span class=" float-right">
                    <%= link_to edit_post_path(post) do %>
                      <button type="button" class="btn btn-sm btn-default border"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                    <% end %>
                  </span>
                </div>
              </div>
              
            </div>
          <% end %>
      </div>
    </section>
